body {
  background-color: #cacaca; 
  font-family: sans-serif;
}
ul{
  list-style: none
}
#container {
  width: 90%;
  margin: 0 auto;
}

/********* BUTTON STYLING *********/

#button_container {
  width: 100%;
  display: inline-block;
  margin: 2em 0 1em 1em;
  font-size: .75em;
}

.button_style {
  float: left;
  background-color: #cacaca; 
  display: inline-block;
  width: 110px;
  height: 55px;
  margin: 14px;
  border-radius: 10px;
  border: 1px solid rgba(240,245,245,.3);
  line-height: 10%;
  box-shadow: 1px 1px rgba(14,14,14, .3), -1px 1px rgba(14,14,14, .3);
}

.button_img {
  float: left;
}

.button_text {
  text-align: left;
  margin: 5px 5px 0 0;
  float: right;
}

/********* NOTIFICATION TABLE STYLING *********/
#user_notifications {
  background-color: white;
  border-radius: 10px 10px 0 0;
  height: 620px;
}
#table_title {
  background: linear-gradient(to top, #c1c1c1, #f0f0f0);
  border-radius: 10px 10px 0 0 ;
  border: 1px solid slategrey;
  color: #676767;
  padding-left: 2em;
}

#notification_table {
  padding:1em;
}

#region_title, #damage_title, #message_title {
  display:inline-block;
  background-color: black;
  color: #fafafa;
  font-size: .8em;
  height: 40px;
  text-align: center;
  float:left;
}

#region_title {
  width: 20%;
  border-right: 2px solid #676767;
}

#damage_title {
  width: 39.6%;
  border-right: 2px solid #676767;
}

#message_title {
  width: 39.99%;
}

.data_entry {
  display: inline-block;
  width: 99.7%;
  float:left;
  list-style-position: none;
  text-align: left;
  border-left: 1px solid #676767;  
  border-right: 1px solid #676767;  
  border-bottom: 1px solid #676767;  
}
.data_entry:nth-child(odd) {
    background: #cacaca;
}
.region {
  display: inline-block;
  width: 20%;
  border-right: 2px solid #676767;
  height: 100%;
}

.region_title {
  margin: 35px;
}

.damage_span {
  display: inline-block;
  margin: 0;
  width: 39.35%;
  border-right: 2px solid #676767;
}

.damage_input, .message_input  {
  width: 80%;
  height: 2em;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 .75em #cacaca;
}

.damage_input {
  margin: 26px 0 26px 3em;
}
.message_input {
  margin: 0 1em 0 1em;
}

.message_span {
  display: inline-block;
  width: 39%;
}

.calendar {
  margin-bottom: -1em;
}

#notification_footer {
  display:inline-block;
  float: left;
  width:99.9%;
  height: 15px;
  background-color: black;
}

footer {
  margin:1em 1em 3em 0;
  text-align: right;
  font-size: .75em;
  color: #676767;
}
