body {
  background-color: #e6e6e6; 
}

#button_container {
  width: 100%;
  display: inline-block;
  margin: 2em 0 1em 4em;
  font-size: .5em;
}

.button_style {
  float: left;
  background-color: #e6e6e6; 
  display: inline-block;
  width: 110px;
  height: 60px;
  margin: 14px;
  border-radius: 10px;
  border: 1px solid slategrey;
}

.button_img {
  float: left;
  margin: 10px;
}

.button_text {
  text-align: left;
  margin-right: 5px;
}